<section class="card">
  <div style="position:relative">
    <a href="/gallery/{{id}}">
      <img src="{{artworks.[0].image_url}}" alt="{{artworks.[0].description}}">
      <div id ="gallery-link">
        <h3><a style="position:absolute; left:0px; top:0px" href="/gallery/{{id}}">{{name}}</a></h3>
      </div>
    </a>
  </div>
</section>